.home .hero .action-button {
    background-color: red !important;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    border-bottom: 2px solid red !important;
}

.search-box input:focus {
    border-color: red !important;    
}

.dropdown-wrapper .nav-dropdown .dropdown-item a:hover {
    color: red !important;
}

a.sidebar-link:hover {
    color: red !important;    
}

a {
    color: red;
}

a.sidebar-link.active {
    color: red !important;
    border-left-color: red !important;
}

.nav-links a:hover, .nav-links a.router-link-active {
    color: red !important;
}

.dropdown-wrapper .dropdown-title:hover {
    color: red !important;    
}

.suggestion a {
    color: red !important;
}

pre.vue-container>code code {
	background-color: #42b983 !important;
	padding: 3px 5px;
	border-radius: 3px;
	color: #000;
}

pre.vue-container>code em {
	color: grey;
	font-weight: light;
}

/* SLICK: ARROWS */
.slick-custom-arrow {
	position: absolute;
	transform: translateY(-50%);
	z-index:100;
	padding:20px 16px;
	
	background-color: $slick-btn-bg-color;
	color:$slick-btn-txt-color;
	
	&:hover {
			cursor:pointer;
			background-color: $slick-btn-bg-color__hover;
			color:$slick-btn-txt-color__hover;
	}
	
	&-right {
		right: 0;
  	top: 50%;
	}
	&-left {
		left: 0;
  	top: 50%;
	}
}

.slick-prev:before {
  content: "<";
  color: red;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: red;
  font-size: 30px;
}