.home .hero .action-button {
    background-color: red !important;
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active {
    border-bottom: 2px solid red !important;
}

.search-box input:focus {
    border-color: red !important;    
}

.dropdown-wrapper .nav-dropdown .dropdown-item a:hover {
    color: red !important;
}

a.sidebar-link:hover {
    color: red !important;    
}

a {
    color: red;
}

a.sidebar-link.active {
    color: red !important;
    border-left-color: red !important;
}